<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amiril.fpmalangcityguide" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".restoDiMalang"
            android:label="@string/title_activity_resto_di_malang"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".rawonMalang"
            android:label="@string/title_activity_rawon_malang"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".hotelDiMalang"
            android:label="@string/title_activity_hotel_di_malang"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activityDiMalang"
            android:label="@string/title_activity_activity_di_malang"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
